Repository nvitaterna/bconvert: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write, yarn jest src

chore: readme fixes
  README.md
Due: none

Notes added by 'git notes add'
  fbc97fbf955ee3bf7123cb98827fe922566284ff
Due: none

feat: use babel for builds
  .babelrc
  README.md
  jest.config.ts
  package.json
  src/builtins/base32.test.ts
  src/builtins/base32.ts
  src/builtins/base32hex.test.ts
  src/builtins/base32hex.ts
  src/builtins/base57.test.ts
  src/builtins/base57.ts
  src/builtins/base60.test.ts
  src/builtins/base60.ts
  src/builtins/base60new.test.ts
  src/builtins/base60new.ts
  src/builtins/base62.test.ts
  src/builtins/base62.ts
  src/builtins/base64.test.ts
  src/builtins/base64.ts
  src/builtins/base64url.test.ts
  src/builtins/base64url.ts
  src/builtins/binary.test.ts
  src/builtins/binary.ts
  src/builtins/hexadecimal.test.ts
  src/builtins/hexadecimal.ts
  src/builtins/octal.test.ts
  src/builtins/octal.ts
  src/converter/convertFrom.test.ts
  src/converter/convertTo.test.ts
  src/converter/converter.ts
  src/index.ts
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn jest src

chore: update README.md
  README.md
Due: none

feat: use babel for builds (#29)
  .babelrc
  README.md
  jest.config.ts
  package.json
  src/builtins/base32.test.ts
  src/builtins/base32.ts
  src/builtins/base32hex.test.ts
  src/builtins/base32hex.ts
  src/builtins/base57.test.ts
  src/builtins/base57.ts
  src/builtins/base60.test.ts
  src/builtins/base60.ts
  src/builtins/base60new.test.ts
  src/builtins/base60new.ts
  src/builtins/base62.test.ts
  src/builtins/base62.ts
  src/builtins/base64.test.ts
  src/builtins/base64.ts
  src/builtins/base64url.test.ts
  src/builtins/base64url.ts
  src/builtins/binary.test.ts
  src/builtins/binary.ts
  src/builtins/hexadecimal.test.ts
  src/builtins/hexadecimal.ts
  src/builtins/octal.test.ts
  src/builtins/octal.ts
  src/converter/convertFrom.test.ts
  src/converter/convertTo.test.ts
  src/converter/converter.ts
  src/index.ts
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn jest src

Notes added by 'git notes add'
  0da3d46589c4989b030f770b729605cc295c73b0
Due: none

chore(refactor): place tests in correct directory
  src/utils/convertFrom.test.ts
  src/utils/convertTo.test.ts
Due: yarn eslint --fix, yarn prettier --write, yarn jest src

chore(deps): update nodejs to latest v of 16
  .circleci/config.yml
  .husky/commit-msg
  package.json
Due: yarn prettier --write

chore(deps): update nodejs to latest v of 16 (#58)
  .circleci/config.yml
  .husky/commit-msg
  package.json
Due: yarn prettier --write

Path conditions:
  yarn eslint --fix: any of: *.ts
  yarn prettier --write: (any of: *.ts) or (any of: *.json)
  yarn jest src: any of: *.ts
